<% layout('layouts/boilerplate')%>

<h2 class="my-3">Subjects</h2>


<% for (let sub of subjects) { %>
    <div class="subject-container">
        <p class="subject-title"><%= sub.title %></p>
        <div class="btn-container">
            <a href="/admin/subjects/<%= sub._id %>" class="btn btn-dark">View</a>
            <form action="/admin/subjects/<%= sub._id %>?_method=DELETE" method="post">
                <button type="submit" class="btn btn-outline-dark">Delete</button>
            </form>
        </div>
    </div>
<% } %>

<div class="row">
    <div class="col-md-8">
        <h2 class="my-3">Add New Subject</h2>
        <form action="/admin" method="post">
            <input type="text" class="form-control" name="subject[title]" placeholder="Subject Title" />
            <div class="row my-3">
                <div class="col-md-4">
                    <input type="number" class="form-control" name="subject[maxMarks]" placeholder="Max Marks" />
                </div>
                <div class="col-md-4">
                    <input type="number" class="form-control" name="subject[totalMarks]" placeholder="Total Marks" />
                </div>
                <div class="col-md-4">
                    <input type="number" class="form-control" name="subject[semester]" placeholder="Semester" min="1" max="8" />
                </div>
            </div>
            <select class="form-control mb-3" name="subject[branch]">
                <option>Computer</option>
                <option>IT</option>
            </select>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
</div>