<% layout('layouts/common')%>
<!-- <h2 class="text-center display-4">Register</h2> -->
<div class="row justify-content-center" id="mainContainer">
    <div class="col-md-10">
        <%- include('./partials/flash')%>
        <h2 class="my-3">Login</h2>
        <form action="/login" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" type="email" id="email" name="email" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button class="btn btn-dark">Login</button>
            <a href="/forgot" class="d-block my-2 forgot-link">Forgot your Password?</a>
        </form>
    </div>
</div>