body {
  font-family: 'Playfair Display', serif;
}

nav {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 2rem 7.4rem 1rem 7.4rem;
  background: #0C161E;
}

nav a {
  text-decoration: none;
}

nav a h2 {
  color: white;
}

.nav-container a {
  margin: 0.5rem 1rem;
  text-decoration: none;
  padding-bottom: 0.5rem;
  color: white;
  letter-spacing: 0.05rem;
}

.nav-container a:hover {
  border-bottom: 1px solid #0C161E;
}

.btn-dark {
  background: #0C161E;
}

.btn-outline-dark {
  border: 1px solid #0c161e;
}

.subject-container, .module-container, .question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
}

.btn-container {
  display: flex;
}

.btn-container button, .btn-container a.btn {
  margin: 0 0.5rem;
}

p.module-title {
  margin: 0.5rem 0;
}

.notification {
  display: flex;
  justify-content: space-between;
}

.user-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 1rem;
}

.notification .user-details, .notification .forms-container {
  display: flex;
  align-items: center;
}

.subject {
  border: 1px solid #0C161E;
  border-radius: 10px;
}

.granted {
  background: green;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.decline {
  background: red;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

#alertMessage {
  margin-bottom: 0;
}

.pattern-img {
  width: 120px;
}

.pattern-img-container {
  padding: 2px;
  cursor: pointer;
}

.pattern-img-container-bordered {
  border: 1px solid #0C161E;
}

.paper-question {
  background: #0c161ead;
}