<% layout('layouts/common')%>
<!-- <h2 class="text-center display-4">Register</h2> -->
<div class="row justify-content-center" id="mainContainer">
    <div class="col-md-10">
        <%- include('../partials/flash')%>
        <form action="/forgot" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" type="email" id="email" name="email" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button class="btn btn-dark">Reset</button>
        </form>
    </div>
</div>

